<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header blue-hoki">   
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                <h4 class="modal-title">Eliminar</h4>                
            </div>
            <div class="modal-body">
                <h5>¿Est&aacute seguro que desea eliminar el elemento seleccionado?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal" data-ng-click="vm.modalEliminar()">Si</button>
                <button type="button" class="btn red" data-dismiss="modal">No</button>                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-eliminar-seleccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">         
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                <h4 class="modal-title">Eliminar</h4>                
            </div>
            <div class="modal-body">
                <h5>¿Est&aacute seguro que desea eliminar los elementos seleccionados?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal" data-ng-click="vm.modalEliminarSeleccion()">Si</button>
                <button type="button" class="btn red" data-dismiss="modal">No</button>                
            </div>
        </div>
    </div>
</div>