<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" style="margin-top:30px;" data-keep-expanded="false" data-auto-scroll="true"
        data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li id="li-logo" style="margin-bottom: 15px;">
            <img ng-src="{{vm.urlPath + '/bundles/admin/img/logo.png'}}" alt="logo" class="img-responsive"
                 style="margin: auto; width: 80%;"/>
        </li>


        <li class="start" style="margin-top:15px;" ng-if="vm.usuario.rol === 1">
            <a href="#/dashboard" id="sidebar_menu_link_home">
                <i class="icon-home"></i>
                <span class="title">Inicio</span>
            </a>
        </li>
        <li ng-if="vm.usuario.rol === 1">
            <a href="javascript:;">
                <i class="icon-settings"></i>
                <span class="title">Administrar</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li ng-if="vm.usuario.rol === 1">
                    <a href="#/usuarios">
                        <i class="icon-users"></i>
                        <span class="title">Mis Usuarios</span>
                    </a>
                </li>
                <li>
                    <a href="#/perfiles">
                        <i class="icon-list"></i>
                        <span class="title">Perfiles</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-list"></i>
                        <span class="title">Planes</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/estados-de-plan">
                                <i class="icon-list"></i>
                                <span class="title">Estados de Plan</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-list"></i>
                        <span class="title">Tareas</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/estados-de-tarea">
                                <i class="icon-list"></i>
                                <span class="title">Estado de Tareas</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/criticidad-de-tarea">
                                <i class="icon-list"></i>
                                <span class="title">Niveles de Alerta</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/canales">
                                <i class="icon-list"></i>
                                <span class="title">Canales</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-list"></i>
                        <span class="title">Organización</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/direcciones">
                                <i class="icon-list"></i>
                                <span class="title">Direcciones</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/gerencias">
                                <i class="icon-list"></i>
                                <span class="title">Unidades</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/cargos">
                                <i class="icon-list"></i>
                                <span class="title">Cargos</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li ng-if="vm.usuario.rol === 1">
            <a href="#/tareas">
                <i class="icon-doc"></i>
                <span class="title">Tareas</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-grid"></i>
                <span class="title">Planes</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li ng-if="vm.usuario.rol === 1">
                    <a href="#/planes">
                        <i class="icon-list"></i>
                        <span class="title">Listar Planes</span>
                    </a>
                </li>
                <li class="oculto">
                    <a href="#/view-plan" ng-class="vm.usuario.rol === 1?'visible':'hidden'">
                        <i class="icon-list"></i>
                        <span class="title">Tareas</span>
                    </a>
                </li>
                <li class="oculto">
                    <a href="#/diagrama-planes" ng-class="vm.usuario.rol === 1?'visible':'hidden'">
                        <i class="icon-list"></i>
                        <span class="title">Diagrama</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>	