<!-- BEGIN PAGE HEADER-->
<style>
    html, body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .subir {
        position: relative;
        top: -14px;
        right: -4px;
    }

    span.alinear-elementos i {
        position: relative;
        width: 3%;
        vertical-align: top;
        padding-top: 5.3px;
        display: inline-block;
        margin-right: 5px !important;
    }

    span.alinear-elementos span {
        width: 90%;
        word-wrap: break-word;
        text-align: justify;
        display: inline-block;
    }

    .jqx-kanban-item-color-status {
        width: 100%;
        height: 25px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        position: relative;
        margin-top: 0px;
        top: 0px;
    }

    .fondo {
        border-left-style: solid;
        border-left-width: 10px;
    }

    .jqx-kanban-item-fecha {
        position: relative;
        top: -10%;
    }

    .jqx-kanban-item {
        padding-top: 0px;
    }

    .jqx-kanban-item-text {
        padding-top: 6px;
    }

    .jqx-kanban-item-fecha {
        padding-top: 6px;
    }

    .jqx-kanban-item-avatar {
        top: 9px;
    }

    .jqx-kanban-template-icon {
        position: absolute;
        right: 20px;
        top: 24px;
    }

    .jqx-kanban-column-header {
        padding: 0 0 0 10px;
        border-left-style: solid;
        border-left-width: 10px;
    }

    .modal-body .nivel-alerta-tareas li {
        list-style: none;
        display: inline-block;
        padding: 2px;
        margin: 0 10px 0 0;
        border: 1px solid black;
    }

    @media (max-width: 1280px) {

        span.alinear-elementos i {
            position: relative;
            width: 3%;
            vertical-align: top;
            padding-top: 5.3px;
            display: inline-block;
            margin-right: 10px;
        }

        span.alinear-elementos span {
            margin-left: 5px;
            width: 90%;
            word-wrap: break-word;
            text-align: justify;
            display: inline-block;
        }
    }

    @media (max-width: 768px) {

        span.alinear-elementos i {
            position: relative;
            width: 3%;
            vertical-align: top;
            padding-top: 5.3px;
            display: inline-block;
        }

        span.alinear-elementos span {
            margin-left: 8px;
            width: 87%;
            word-wrap: break-word;
            text-align: justify;
            display: inline-block;
        }
    }
</style>
<div class="page-bar" ng-if="vm.usuario.rol === 1">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Tablero de Tareas</a>
        </li>
    </ul>
</div>
<div class="page-bar" ng-if="vm.usuario.rol !== 1">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Inicio</a>
        </li>
    </ul>
</div>
<h3 class="page-title" ng-if="vm.usuario.rol === 1">
    Tablero de Tareas
</h3>
<h3 class="page-title" ng-if="vm.usuario.rol !== 1">
    Bienvenido - {{vm.usuario.nombre}}
</h3>

<div class="row" id="lista-tarea" ng-show="existePlanEjecucion">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-doc font-apolo-sharp"></i>
                    <span class="caption-subject font-apolo-haze bold uppercase">{{ titulo}}</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default fullscreen"
                       data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <button class="btn blue" data-ng-click="vm.buscarTareasPlan(true)" style="margin: 0 15px">
                                Mis Tareas <i class="fa fa-chevron-right"></i>
                            </button>                        
                            <button class="btn blue" data-ng-click="vm.nuevo(vm.buscarTareasPlan(false))">
                                Tareas de Equipo <i class="fa fa-chevron-right"></i>
                            </button>                        
                        </div>
                    </div>
                </div>
                <div class="margin-bottom-20"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6" id="select-nivel-alerta">
                            <select data-ds-select2 class="form-control selectpicker" id="nivel-alerta" name="nivel-alerta" ng-model="nivelAlerta" ng-change="vm.seleccionarElemento({criticidad:true,cargo:false,area:false,direccion:false});">
                                <option value="">Seleccione nivel de alerta</option>
                                <option data-ng-repeat="item in vm.criticidades" value="{{item.criticidad_id}}">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 20px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3" id="select-direccion" ng-if="vm.usuario.rol === 1 || existePlanEjecucion">
                            <select data-ds-select2 class="form-control selectpicker" id="direccion" name="direccion" ng-model="direccion" ng-change="vm.seleccionarElemento({criticidad:false,cargo:false,area:false,direccion:true});">
                                <option value="">Seleccione la dirección</option>
                                <option data-ng-repeat="item in vm.gerencias" value="{{item.gerencia_id}}">{{item.descripcion}}</option>
                            </select>
                        </div>
                        <div class="col-md-3" id="select-gerencia" ng-if="vm.usuario.rol === 1 || existePlanEjecucion">
                            <select data-ds-select2 class="form-control selectpicker" id="gerencia" name="gerencia" ng-model="gerencia" ng-change="vm.seleccionarElemento({criticidad:false,cargo:false,area:true,direccion:false});">
                                <option value="">Seleccione la unidad</option>
                                <option data-ng-repeat="item in vm.areas" value="{{item.area_id}}">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3" id="select-cargo" ng-if="vm.usuario.rol === 1 || existePlanEjecucion">
                            <select data-ds-select2 class="form-control selectpicker" id="cargo" name="cargo" ng-model="cargo" ng-change="vm.seleccionarElemento({criticidad:false,cargo:true,area:false,direccion:false});">
                                <option value="">Seleccione el cargo</option>
                                <option data-ng-repeat="item in vm.cargos" value="{{item.cargo_id}}">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <button
                                        class="btn btn-primary"
                                        type="button" ng-click="vm.filtarTareasCargo()">
                                        <i class="fa fa-search fa-fw"></i> Ver Tareas
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="kanbanBox1">
                    <div id="kanban" style="padding: 0 10px 0 10px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="lista-plan" ng-show="!existePlanEjecucion">
    <div class="col-lg-12">
        <div class="portlet light" id="form-diagrama">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-doc font-apolo-sharp"></i>
                    <span class="caption-subject font-apolo-haze bold uppercase">Selección de plan</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default fullscreen" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6" id="select-plan">
                            <select data-ds-select2 class="form-control selectpicker" id="plan" name="plan" ng-model="plan">
                                <option value="">Seleccione el plan para continuar</option>
                                <option data-ng-repeat="item in vm.planes" value="{{item.plan_id}}">{{item.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <button
                                        class="btn btn-primary"
                                        type="button" ng-click="vm.seleccionarPlan()">
                                        <i class="fa fa-search fa-fw"></i> Seleccionar Plan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-tarea-detalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" ng-style="vm.mostrarColorVentana(tarea)">
        <div class="modal-content">
            <div class="modal-header blue-hoki">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button" data-ng-click="vm.cerrarModal()"></button>
                <h4 class="modal-title">{{tituloModal}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="nivel-alerta-tareas" style="padding: 0 20px">
                        <li ng-repeat="item in vm.criticidades" ng-style="vm.mostrarColor(item, tarea)">{{item.nombre}}</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="portlet light" style="margin-bottom: 0">
                        <div class="portlet-body">
                            <div><strong style="display: inline-block;font-size: 12px;width: 8em;vertical-align: top;margin-right: 5px;">Responsable: </strong>
                                <p style="display: inline-block;width: 84.5%;text-align: justify">{{tarea.cargo}}</p>
                            </div>
                            <div><strong style="display: inline-block;font-size: 12px;width: 8em;vertical-align: top;margin-right: 5px;">Observaciones: </strong>
                                <p style="display: inline-block;width: 84.5%;text-align: justify" ng-bind-html="tarea.descripcion"></p>
                            </div>
                            <div><strong style="display: inline-block;font-size: 12px;width:  8em;vertical-align: top;margin-right: 5px;">Canales: </strong>
                                <p style="display: inline-block;width: 84.5%;text-align: justify">{{tarea.canales}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="div-table-antecesoras">
                        <div class="portlet light" style="margin-bottom: 0">
                            <div class="portlet-title" style="margin-bottom: 0">
                                <h4>Tareas Precedentes</h4>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-advance table-bordered table-hover table-striped"
                                           id="table-antecesoras" style="max-height: 700px;overflow: scroll">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Nivel de Alerta</th>
                                                <th>Cargo</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-antecesoras-cuerpo">
                                            <tr data-ng-repeat="elem in antecesoras" draggable="true">
                                                <td>{{elem.codigo}}</td>
                                                <td>{{elem.nombre}}</td>
                                                <td>{{elem.criticidad}}</td>
                                                <td>{{elem.cargo}}</td>
                                                <td class="text-center">
                                                    <button class="btn btn-icon-only yellow view" data-dismiss="modal" ng-click="vm.mostrarMasDetalles(elem.tarea_id)">
                                                        <i class="fa fa-eye fa-fw"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="div-table-relacionados">
                        <div class="portlet light" style="margin-bottom: 0">
                            <div class="portlet-title" style="margin-bottom: 0">
                                <h4>Tareas Sucesoras</h4>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-advance table-bordered table-hover table-striped" id="table-relacionados" style="max-height: 700px;overflow: scroll">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Nivel de Alerta</th>
                                                <th>Cargo</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-relacionados-cuerpo">
                                            <tr data-ng-repeat="elem in sucesoras" draggable="true">
                                                <td>{{elem.codigo}}</td>
                                                <td>{{elem.nombre}}</td>
                                                <td>{{elem.criticidad}}</td>
                                                <td>{{elem.cargo}}</td>
                                                <td class="text-center">
                                                    <button class="btn btn-icon-only yellow view" data-dismiss="modal" ng-click="vm.mostrarMasDetalles(elem.tarea_id)">
                                                        <i class="fa fa-eye fa-fw"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="portlet light" style="margin-bottom: 0">
                            <div class="portlet-title" style="margin-bottom: 0">
                                <h4>Archivos</h4>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-advance table-bordered table-hover table-striped" id="table-archivos">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Descripción</th>
                                                <th class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="item in tarea.modelos">
                                                <td style="width: 25%;"><a href="uploads/{{item.ruta}}" target="_blank">{{item.ruta}}</a></td>
                                                <td style="width: 70%;">{{item.descripcion}}</td>
                                                <td class="text-center">
                                                    <a class="btn btn-icon-only yellow download table-action" href="uploads/{{item.ruta}}" target="_blank" data-original-title="" title="">
                                                        <i class="fa fa-download fa-fw"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" data-ng-click="vm.cerrarModal()">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>