<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Administrar</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Mis Usuarios</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    Administrar mis usuarios
</h3>


<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" id="lista-usuario">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-users font-apolo-sharp"></i>
                    <span class="caption-subject font-apolo-haze bold uppercase">Mis Usuarios</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default fullscreen"
                       data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12"
                             data-ng-include="vm.urlPath + '/bundles/admin/app/layout/acciones-lista.html'"></div>
                    </div>
                </div>
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover dt-responsive"
                           id="usuario-table-editable">
                        <thead>
                            <tr>
                                <th class="table-checkbox all">
                                    <input type="checkbox" class="group-checkable"
                                           data-set="#usuario-table-editable .checkboxes"/>
                                </th>
                                <th class="all">Email</th>
                                <th class="min-tablet">Nombre</th>
                                <th class="desktop">Apellidos</th>
                                <th class="min-tablet">Estado</th>
                                <th class="min-tablet">Perfil</th>
                                <th class="min-tablet">Cargo</th>
                                <th class="min-tablet">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row ng-hide" id="form-usuario">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-apolo-haze hide"></i>
                    <span class="caption-subject font-apolo-haze bold uppercase" id="form-usuario-title">¿Deseas crear un nuevo usuario? Sigue los siguientes pasos:</span>
                    <span class="caption-helper"></span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default fullscreen"
                       data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default my-remove"
                       data-ng-click="vm.cerrarForm()">
                        <i class="fa fa-times fa"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-lg-12">

                        <form id="usuario-form" action="#" enctype="multipart/form-data"
                              method="post">

                            <input type="hidden" id="usuario_id" name="usuario_id"/>

                            <div class="form-body">
                                <div class="form-group ic-form-group">
                                    <key>
                                        <span class="ic-step-number">1</span>
                                        Seleccione un perfil<span
                                            class="ic-small italic">(obligatorio)</span>
                                    </key>
                                    <p class="help-block">Debe seleccionar el perfil para su usuario</p>
                                    <div class="row">
                                        <div class="col-md-6" id="select-rol">
                                            <select data-ds-select2 class="form-control selectpicker" id="rol"
                                                    name="rol" data-placeholder="Seleccione el perfil">
                                                <option value=""></option>
                                                <option data-ng-repeat="perfil in vm.perfiles"
                                                        value="{{perfil.perfil_id}}">{{perfil.descripcion}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ic-form-group">
                                    <key>
                                        <span class="ic-step-number">2</span>
                                        Ingrese el nombre y apellidos <span class="ic-small italic">(obligatorio)</span>
                                    </key>
                                    <p class="help-block"></p>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <key>Nombre</key>
                                            <input type="text" class="form-control form-control-text"
                                                   id="nombre" name="nombre"/>
                                        </div>
                                        <div class="col-md-5">
                                            <key>Apellidos</key>
                                            <input type="text" class="form-control form-control-text"
                                                   id="apellidos" name="apellidos"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ic-form-group">
                                    <key>
                                        <span class="ic-step-number">3</span>
                                        Ingrese el email <span class="ic-small italic">(obligatorio)</span>
                                    </key>
                                    <p class="help-block"></p>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input type="text" class="form-control" id="email" name="email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ic-form-group">
                                    <key>
                                        <span class="ic-step-number">4</span>
                                        Ingrese la contraseña para el acceso<span
                                            class="ic-small italic">(obligatorio)</span>
                                    </key>
                                    <p class="help-block"></p>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <key>Contraseña</key>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-key"></i>
                                                </span>
                                                <input type="password" class="form-control" id="password"
                                                       name="password">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <key>Repetir contraseña</key>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-key"></i>
                                                </span>
                                                <input type="password" class="form-control" id="repetirpassword"
                                                       name="repetirpassword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ic-form-group">
                                    <key><span class="ic-step-number">5</span>Define el estado en el que se
                                        creará el
                                        usuario
                                    </key>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <key class="radio-inline">
                                                    <input type="radio" name="radioestado" id="estadoactivo"
                                                           checked>
                                                    <span class="ic-small">Activo</span>
                                                </key>
                                                <key class="radio-inline">
                                                    <input type="radio" name="radioestado" id="estadoinactivo">
                                                    <span class="ic-small">Inactivo</span>
                                                </key>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ic-form-group">
                                    <key>
                                        <span class="ic-step-number">6</span>
                                        Seleccione un cargo para el usuario <span
                                            class="ic-small italic">(opcional)</span>
                                    </key>
                                    <p class="help-block"></p>
                                    <div class="row">
                                        <div class="col-md-4" id="select-gerencia">
                                            <key>Dirección</key>
                                            <select data-ds-select2 class="form-control selectpicker" id="gerencia"
                                                    name="gerencia">
                                                <option value="">Seleccione</option>
                                                <option data-ng-repeat="item in vm.gerencias"
                                                        value="{{item.gerencia_id}}">{{item.descripcion}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-4" id="select-area">
                                            <key>Unidad</key>
                                            <select data-ds-select2 class="form-control selectpicker" id="area"
                                                    name="area">
                                                <option value="">Seleccione</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4" id="select-cargo">
                                            <key>Cargo</key>
                                            <select data-ds-select2 class="form-control selectpicker" id="cargo"
                                                    name="cargo">
                                                <option value="">Seleccione</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ic-form-group">
                                    <key><span class="ic-step-number">7</span>Define si el usuario será Titular del Cargo.
                                    </key>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <key class="radio-inline">
                                                    <input type="radio" name="titular" id="titular" ng-model="titular" ng-value="true" ng-checked="titular">
                                                    <span class="ic-small">Si</span>
                                                </key>
                                                <key class="radio-inline">
                                                    <input type="radio" name="titular" id="no-titular" ng-model="titular" ng-value="false" ng-checked="!titular">
                                                    <span class="ic-small">No</span>
                                                </key>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ic-form-group" ng-show="titular" id="backup-user-group">
                                    <key><span class="ic-step-number">8</span>Define el usuario que será Backup de este usuario Titular.</key>
                                    <div class="row">
                                        <p class="help-block">Debe seleccionar el perfil para su usuario</p>
                                        <div class="row">
                                            <div class="col-md-6" id="select-backup">
                                                <select data-ds-select2 class="form-control selectpicker" id="user-backup" name="backup" data-placeholder="Seleccione el usuario backup" multiple>
                                                    <option value=""></option>
                                                    <option data-ng-repeat="usuario in vm.usuarios"
                                                            value="{{usuario.usuario_id}}">{{usuario.nombre}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ic-form-group">
                                            <button data-ng-click="vm.salvarForm()" class="btn green" type="button">
                                                Guardar
                                            </button>
                                            <button data-ng-click="vm.cerrarForm()" class="btn red" type="button">
                                                Cancelar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div data-ng-include="vm.urlPath + '/bundles/admin/app/layout/modal-eliminar.html'"></div>
<!-- END PAGE -->
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->